#hero{
    background-image: url(../img/wall.png);
}

#main{
    background-image: url(../img/cork.png);
}

.relativ-pos{
    position: relative;
}

.absolute-pos{
    position: absolute;
    right: 50%;
    transform: translate(50%);
    top: -10px
}

.ms-bg-white{
    background-color: white;
}



.cirle{
    height: 30px;
    width: 30px;
    background-image: url(../img/pin.svg);
}

h1{
    font-family: "Edu TAS Beginner", cursive;
}

h5{
    font-family: "Edu TAS Beginner", cursive;
}

