#hero{
    background-image: url(../img/wall.png);
}

#main{
    background-image: url(../img/cork.png);
}

.relativ-pos{
    position: relative;
}

.absolute-pos{
    position: absolute;
    right: 50%;
    transform: translate(50%);
    top: -10px
}

.ms-card{
    background-color: white;
}



.cirle{
    height: 30px;
    width: 30px;
    background-image: url(../img/pin.svg);
}

h1{
    font-family: "Edu TAS Beginner", cursive;
}

h5{
    font-family: "Edu TAS Beginner", cursive;
}

.hover{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: rgba( 0, 0, 0, 0.5);
    top: 0;
    left: 0;
}